.m{
    margin-top: 2900px;
}
.m{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.div{
    margin-left: 40px;
}
.input-group {
    width: 700px;
    height: 400px;
    margin-top: 80px;
}
.mop{
    margin-top: 90px;
    margin-left: 300px;
}
.mop button{
    margin-left: 150px;
}
input {
    background-color: powderblue;
    color: rgb(71, 70, 70);
}
